.image {
    /* opacity: 0.5; */
    display: block;
    position: absolute;
    z-index: 10;
}

.desc {
    position: absolute;
    top: 250px;
    left: 150px;
    font-size: 24px;
    color: purple;
    z-index: 20;
}